.quotes {
    background-color: $blue;
    padding-top: 175px;
    padding-bottom: 48px;
}

.swiper-container {
    width: 820px;
    height: 278px;
}

.swiper-slide {
    text-align: center;
    color: $white;
    font-weight: 500;
    font-family: $font-heading;
}

.quote-text {
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 36px;
    margin-bottom: 18px;
}

.quote-author {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 36px;
    text-transform: uppercase;
}
  
  /*other pagination*/
  .swiper-pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    color: $white-smoke;
    background-color: $white-smoke;
    opacity: 0.7;
}

  /*active pagination*/
.swiper-pagination .swiper-pagination-bullet-active {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color: $white;
    background-color: $white;
    opacity: 1;
}

@include breakpoint(tablet) {
    .swiper-container {
        width: auto;
        margin: 0 30px;
    }
    
}

@include breakpoint(phone) {
    .swiper-container {
        width: auto;
        margin: 0 30px;
    }
    .quote-text {
        font-size: 22px;
        letter-spacing: 0px;
        line-height: 30px;
        margin-bottom: 18px;
    }
    .quotes {
        padding-top: 100px;
    }
}

@include breakpoint(small-phone) {
    .swiper-container {
        width: auto;
        margin: 0 10px;
    }
    .quote-text {
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 20px;
        margin-bottom: 18px;
    }
    .quotes {
        padding-top: 80px;
    }
}

